@import 'config';
@import 'utilities';

// CSS Reset
* {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background: #fff;
  color: #1c1e21;
  padding: 5 10px;
  margin: 5 5px;
  line-height: 1.34rem;
  font-size: 0.8rem;
 
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.s-heading {
  font-size: 1rem;
}

.bg-likes {
    text-decoration: none;
    color: #737373;
}





// Navbar
#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 18%;
  margin: 0 5px;
  padding-right:  1px;
  border-right: 1px solid #CCCCCC;

  
  .navbar {
    margin: 0 10px;
    padding: 0 5px;

    h1 {
      font-family: 'Satisfy', cursive;
      margin-left: 10px;
      font-size: 1.6rem;
      margin-top: 50px;
      margin-bottom: -10px;
     }
  

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: -20px;
      margin-top: 40px;

     

      li {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 15px 0;
        font-size: 1rem;


        a {
          text-decoration: none;
          color: $dark-color;
        }

        svg {
          margin-right: 20px;
        }

        .fa {
          margin-right: 20px;
        }

        .nav-img {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin-right: 15px;
            }
      }
  }
}
}

// Mobile Nav
#navbar {
  display: none;
}


// // Menu
#news-feed {
  margin-top: 40px;
  position: relative;
  top: 0;
  left: 180px;

  // Feeds Stories
  .stories {

    

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem;
    padding: 1px 0.1rem;
    
    

    ul {
      list-style: none;
      margin-right: 1.5rem;
      justify-content: center;
      align-items: center;
      text-align: center;

      div {
        background: linear-gradient(to left, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
        width: 64.5px;
        height: 64.5px;
        margin-left: 0 0.5rem;
        border-radius: 50%;
        

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-left: 0.1rem;
          margin-top: 0.1rem;
        }
      }
      
    }

    p {
     
    }
  }

  // Feeds Post
  .post-container {
    margin: -10px 20px;
    padding: 10px;


    .post {

      // post Header
      .post-header {
       
        display: flex;
        justify-content: space-between;
        padding: 2px 9px;
        margin: 0 150px;
        margin-left: 140px;
        margin-top: 40px;
       

        div {
        display: flex;
        margin-right: 0.5rem;

        div {
          background: linear-gradient(to left, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
          width: 36px;
          height: 36px;
          margin-left: 0 0.5rem;
          border-radius: 50%;

        //  Dp img
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-left: 0.1rem;
          margin-top: 0.1rem;
        }
        }
    

        h4 {
          margin-right: 0.5rem;
          margin-top: 0.2rem;
        }

        p {
          margin-top: 0.2rem;
        }
      }
    }

    // Post Content
    .post-content {
     margin: 0 150px;
     


    //  Post img
      img {
        width: 450px;
        height: 550px;
        justify-content: center;
        margin: 0;
        align-items: center;
      }

      // Icons
      .icons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem ;
        padding: 1px;


        div {
          display: flex;

          svg {
            margin-right: 1rem;
          }
        }
      }

      // Likes
      .likes  {
        display: flex;

    

        .likes-img {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          margin-right: 0.5rem;
        }

      }

      // Post write-up
      .write-up {
        display: flex;

        h4 {
          margin-right: 0.5rem;
        }
      }

      // Comments
      .comments {
        div {
          display: flex;
          justify-content: space-between;
        }

        form {
        
          input {
            width: 100%;
            height: 20px;
            border: none;
          }
        }
      }

      // Border Bottom
      .border-bottom {
        padding: 0 20px;
        width: 460px;
        height: 1px;
        border: 1px solid #CCCCCC;
      }
    }
  }
}
}


// Log-Out
#log-out {
  position: relative;
  top: 0;
  left: 100px;
  margin: 5px;

  .log-container {
   margin-top: 60px;

  
  // Account Switch
   .log {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;        
      

   
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
    
    
    li {
      line-height: 1rem;
      margin-top: 0.5rem;
    }
  }

    a {
      font-size: 1rem;
      margin-top: 1rem;
      margin-left: 0.4rem;
    }
   }

  .bio-home {
   

  //Suggestions 
    .suggest {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
      
      

    h4 {
      font-size: 1rem;
    }

    a {
      font-size: 1rem;
      margin-left: 65px;
      color: $dark-color;
    }
    }

    .bio-grid {
      margin-bottom: 0.5rem;
      padding: 1px;
      display: flex;
      justify-content: space-between;

      div {
        display: flex;
        padding: 1px;           

      .suggest-img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-right: 0.5rem;
      }

      li {
        line-height: 1rem;
        
      }

        a {
          font-size: 1rem;
          margin-top: 1rem;
          
        }
      } 
    }
  }
}

// Footer
#footer {
  padding: 1px;
  margin: 1px;
  font-size: 0.7rem;
  line-height: 1rem;
  color: #737373;
  .list-items {
    .ul-1 {
      display: flex;
     
      li {
        margin-right: 1rem;
      }
    }

    p {
      margin-top: 1rem;
    }
    
  }
}
}

// Media Queries
@import 'media';

